<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
<dict>
    <key>NSExceptionDomains</key>
    <dict>
        <key>113.198.230.24</key>
        <dict>
            <key>NSExceptionAllowsInsecureHTTPLoads</key>
            <true/>
        </dict>
    </dict>
</dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>NaverMapClientID</key>
	<string>egugv1onne</string>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
