<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>항상 사용자의 위치를 확인합니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>앱 사용 중 사용자의 위치를 확인합니다.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>113.198.230.24</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>NaverMapClientID</key>
	<string>egugv1onne</string>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
